header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(234, 228, 214);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.logo{
    height: 75px;
    margin-left: 30px;
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
        min-height: 75px;
    }
    
    .logo {
        margin-left: 0;
        display: none;
    }
}
