.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    position: relative;
}

.banner__imagen {
    width: 100%;
    height: 450px;
}

.banner__titulo {
    color: #FDFDFD;
    font-family: Pacifico, cursive;
    font-size: 400%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.80);
    position: absolute;
    bottom: calc(50% - 75px);
}

@media only screen and (max-width: 600px) {
    .banner__imagen {
        height: 250px;
    }

    .banner {
        position: relative;
    }

    .banner__titulo {
        top: 42%;
        font-size: 50px;
        text-align: center;
    }
}