.modal__carrito, .modal__confirmacion{
    border-radius: 5px;
    border: none;
}

.modal__carrito::backdrop, .modal__confirmacion::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

.modal__confirmacion__titulo {
    display: inline-block;
    vertical-align: super;
}

.modal__confirmacion__img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.carrito__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.carrito__header__titulo {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.carrito__header__cerrar {
    width: 25px;
    height: 25px;
}

.carrito__header__cerrar:hover {
    cursor: pointer;
}

.carrito__item {
    display: flex;
    box-shadow: 0px 0px 8px rgb(184, 183, 183);
    margin-bottom: 10px;
    border-radius: 5px;
}

.carrito__item__prod {
    display: flex;
}

.item__prod__img {
    width: 150px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.item__prod__descripción {
    padding: 10px;
}

.item__prod__button, .carrito__total__comprar {
    background-color: #8D0606;
    border: none;
    border-radius: 5px;
    color: #FDFDFD;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

.item__prod__button:hover, .carrito__total__comprar:hover {
    outline: 1px solid #411313;
}

.item__prod__button:active, .carrito__total__comprar:active {
    background-color: #411313;
}

.carrito__item__cant{
    margin: auto 10px;
}

.carrito__item__cant input {
    width: 40px;
}

.carrito__item__precio {
    margin: auto 10px auto 0;
}